# server: FastAPI async REST platformplus webserver
fastapi[all]
fastapi_utils
uvicorn

# server: sync pika
pika
pika-dev

# server: aysnc library to connect to RabbitMQ
aio_pika

# server: database
sqlalchemy
psycopg2-binary

# client: GTK client side UI
pycairo
# PyGObject

# client: HTTP/REST
requests

# util
pylint
mkdocs
mkdocs-bootstrap
pyparsing

