--extra-index-url https://testpypi.python.org/pypi

# server: FastAPI async REST platformplus webserver
fastapi[all]
fastapi_utils
uvicorn

# server: sync pika
pika
pika-dev

# server: aysnc library to connect to RabbitMQ
aio_pika

# server: database
sqlalchemy
psycopg2-binary

# client: GTK client side UI
wheel

# client: HTTP/REST
requests

#
robotjes-client==0.0.2

