--extra-index-url https://test.pypi.org/simple/

# server: FastAPI async REST platformplus webserver
fastapi[all]
fastapi_utils
uvicorn

# server: sync pika
pika
pika-dev

# server: aysnc library to connect to RabbitMQ
aio_pika

# server: database
sqlalchemy
psycopg2-binary

# client: GTK client side UI
wheel
pycairo
PyGObject

# client: ASCII art
asciimatics

# client: HTTP/REST
requests

# util
pylint
mkdocs
mkdocs-bootstrap
pyparsing

#
robotjes-client

